.education {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  margin-bottom: 30px;
}
.class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.class span {
  font-size: 1.5rem;
}
p {
  padding: 0;
  margin: 1rem 0 0 4rem;
}
.grade {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 4rem;
}
